body {
  background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #333;
}

h1 {
	font-size: 40px;
}

h3 {
	color: #95a5a6;
	font-weight: 400;
    line-height: 30px;
}

h4 {
	color: #95a5a6;
	font-weight: 400;
	font-size: 20px;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.btn {
    border-radius: 0;
}

.center {
    text-align: center;
}

.m-t {margin-top: 20px;}
.m-b {margin-bottom: 20px;}
.m-l {margin-left: 20px;}
.m-r {margin-right: 20px;}
.m-t-sm {margin-top: 10px;}
.m-b-sm {margin-bottom: 10px;}
.m-l-sm {margin-left: 10px;}
.m-r-sm {margin-right: 10px;}
.m-t-xs {margin-top: 5px;}
.m-b-xs {margin-bottom: 5px;}
.m-l-xs {margin-left: 5px;}
.m-r-xs {margin-right: 5px;}

/* Links */
a {
    color: #9B59B6;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar-default {
	background-color: #77448B;
	border-bottom: 3px solid #9B59B6;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.subnav {
    min-height: 40px;
    font-size: 14px;
}

.subnav .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.subnav .breadcrumb {
    margin-bottom: 0;
    padding-left: 0;
    background: transparent;
}

.subnav .breadcrumb li a {
    color: #fff;
}

.subnav .breadcrumb .active {
    color: #fff;
}

/* Helpers */

.mt {
	margin-top: 40px;
	margin-bottom: 40px;
}

.form-control {
	height: 45px;
	font-size: 18px;
	width: 280px;
}

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
 
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}


/* HeaderWrap */
#headerwrap {
    border-top: 6px solid #9B59B6;
	background: url(../img/bg3.jpg) no-repeat center top;
	background-color: #333;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap .navbar-default {
    background-color: transparent;
    border-color: transparent;
}

#headerwrap h1 {
	margin-top: 160px;
	margin-bottom: 35px;
	color: white;
	font-size: 45px;
	font-weight: 600;
	letter-spacing: 1px;
    line-height: 60px;
}

#headerwrap .btn-outlined.btn-primary {
    color: #fff;
    border: 2px solid #fff;
    background: rgba(2, 2, 1, 0.4);
    font-size: 18px;
    padding: 15px 20px;
    text-transform: uppercase;
    word-spacing: .2em;
}

#headerwrap .btn-outlined.btn-primary:hover {
    background: #77448B;
}

#headerwrap.project {
    background: url(http://www.immunityproject.org/images/lab.jpg) no-repeat;
    background-size: cover;
    min-height: 550px;
    position: relative;
}

#headerwrap.blog {
    background: url(../img/bg3.jpg) no-repeat;
    background-size: cover;
    min-height: 450px;
    position: relative;
}

#headerwrap.post {
    background: url(../img/bg3.jpg) no-repeat;
    background-size: cover;
    min-height: 250px;
    position: relative;
}

#headerwrap.project h1, #headerwrap.blog h1 {
    margin-bottom: 20px;
    margin-top: 180px;
}

#headerwrap.project h2, #headerwrap.blog h2 {
    color: #fff;
    margin-bottom: 40px;
}

#headerwrap.post h1 {
    margin-top: 100px;
    margin-bottom: 0;
}

/* Adds opaque background between image and content, see project header for details */
.layer {
    background-color: rgba(0, 0, 0, 0.39);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Sections */

.mission {
    background: #fff;
}

.cta {
    padding: 40px 0;
}

.team {
    background: #fff;
}

.footer {
    padding-top: 20px;
}

/* Panels */

.panel h3 {
    margin-top: 0;
}

/* Buttons */

.btn-primary {
    background: #9B59B6;
    border-color: #9B59B6;
}

.btn-primary:hover {
    background: #77448B;
    border-color: #77448B;
}

.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}
.btn-outlined.btn-primary {
    background: none;
    border: 3px solid #9B59B6;
    color: #9B59B6;
}
.btn-outlined.btn-primary:hover,
.btn-outlined.btn-primary:active {
    color: #FFF;
    background: #9B59B6;
    border-color: #9B59B6:
}

.btn-outlined.btn-success {
    background: none;
    border: 3px solid #5cb85c;
    color: #5cb85c;
}
.btn-outlined.btn-success:hover,
.btn-outlined.btn-success:active {
    color: #FFF;
    background: #47a447;
}

.btn-outlined.btn-info {
    background: none;
    border: 3px solid #5bc0de;
    color: #5bc0de;
}
.btn-outlined.btn-info:hover,
.btn-outlined.btn-info:active {
    color: #FFF;
    background: #39b3d7;
}

.btn-outlined.btn-warning {
    background: none;
    border: 3px solid #f0ad4e;
    color: #f0ad4e;
}
.btn-outlined.btn-warning:hover,
.btn-outlined.btn-warning:active {
    color: #FFF;
    background: #ed9c28;
}

.btn-outlined.btn-danger {
    background: none;
    border: 3px solid #d9534f;
    color: #d9534f;
}
.btn-outlined.btn-danger:hover,
.btn-outlined.btn-danger:active {
    color: #FFF;
    background: #d2322d;
}