/* Base Styles */

body {
    background-color: #191a1a;
    color: #eaeaea;
    -webkit-font-smoothing: antialiased;
    font-size: 1.4em;
}

a {
    color: #8548be;
}

a:hover {
    color: #fff;
}

.icon {
    font-size: 24px!important;
}

header .icon {
    font-size: 28px!important;
}

h5 {
    color: #909090;
    font-weight: 600;
    float: left;
    padding: 5px 10px;
    margin: 5px 0;
    text-transform: uppercase;
    clear: both;
    width: 100%;
}

h4 {
    font-size: 1.1em;
    color: #cbcbcb;
}

p {
    padding: 5px 10px;
    margin-bottom: 0;
}

ul {
    float: left;
    clear: both;
    margin-bottom: 0;
}

.last {
    margin-bottom: 60px;
}

.list-group {
    margin-bottom: 0;
}

.panel {
    margin-bottom: 0;
}

.panel-footer {
    border-radius: 0;
}

/* Helpers */

.center {
    text-align: center;
}

img.circle {
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

/* Buttons */

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

/* Header */

.nav-bar-fixed-top + * {
    padding-top: 0px;
}

/* Sidenav */

.hbox > aside {
    -webkit-box-shadow: inset -5px 0px 6px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset -5px 0px 6px -3px rgba(0,0,0,0.75);
    box-shadow: inset -5px 0px 6px -3px rgba(0, 0, 0, 0.75);
    background-color: #181818;
    color: #fff;
}

.sidenav ul {
    padding-top: 50px;
    width: 100%;
}

.sidenav ul li a {
    color: #b4b4b4;
    text-transform: uppercase;
}


.home-page header button, .home-page header button:hover, .home-page header button:focus, .profile-page header button, .profile-page header button:hover, .profile-page header button:focus {
    color: #fff;
}

.home-page header .btn:focus, .home-page header .btn:active:focus, .home-page header .btn.active:focus, .profile-page header .btn:focus, .profile-page header .btn:active:focus, .profile-page header .btn.active:focus {
    outline: none;
} 


/* Home Screen */

.list-group a.list-group-item.project {
    color: #fff;
    border-bottom: none;
}

.list-group a.list-group-item .details {
    padding-top: 40px;
}

.list-group a.list-group-item.project h2 {
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 300;
}

.list-group a.list-group-item.project p {
    color: #cbcbcb;
    padding: 0;
}

.list-group a.list-group-item {
    border-radius: 0;
    border: none;
}

.list-group a.list-group-item.immunity {
    background: url('../images/projects/immunity.jpg') no-repeat center top;
    background-position: center center;
    background-attachment: relative;
    height: 185px;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.list-group a.list-group-item.watsi {
    background: url('../images/projects/watsi.jpg') no-repeat center top;
    background-position: center center;
    background-attachment: relative;
    height: 185px;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.list-group a.list-group-item.filler {
    background: url('../images/projects/project.jpg') no-repeat center top;
    background-position: center center;
    background-attachment: relative;
    height: 185px;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Project Page */

.project-page .nav-bar {
    background-color: rgba(0, 0, 0, 0.36);
    height: 46px;
}

.project-page .nav-bar > .btn {
    padding: 6px 12px;
}

.project-page .list-group a.list-group-item .details {
    padding-top: 55px;
}

.supporters {
    clear: both;
    height: 50px;
    overflow: hidden;
    background: #161616;
}

.supporters img {
    float: left;
}

.project-page .currently-matching .list-group {
    float: left;
    width: 100%;
    background: #161616;
}

.project-page .currently-matching .list-group a.list-group-item.tully {
    background: url('../images/photos/tully.jpg') no-repeat center top;
    background-position: center center;
    background-attachment: relative;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width: 50px;
    height: 50px;
    float: left;
}

.project-page .currently-matching .list-group a.list-group-item.barrett {
    background: url('../images/photos/barrett.jpg') no-repeat center top;
    background-position: center center;
    background-attachment: relative;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width: 50px;
    height: 50px;
    float: left;
}

.project-page .currently-matching .list-group a.list-group-item .details {
    padding-top: 0;
}

.project-page .currently-matching .list-group a.list-group-item.project h2 {
    margin: 0;
    font-size: .5em;
}

.project-page .currently-matching .list-group a.list-group-item.project p {
    margin: 3px 0 0 0;
    font-size: 0.8em;
    font-weight: 600;
    padding: 0;
    position: relative;
    top: 20px;
    width: 50px;
    background: rgba(0, 0, 0, 0.68);
    right: 15px;
}

/* Donate Page */

body.donate-page {
    background-image: url(../images/donate-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.donate-page .vbox {
    padding-bottom: 46px;
}

.donate-page .nav-bar {
    background-color: #8548C2;
    height: 46px;
}

.donate-page .nav-bar > .btn {
    padding: 6px 12px;
}

.donate-page .btn-grouping {
    padding: 0 10px;
}

.donate-page .slider-container {
    padding: 0 10px;
}

.donate-page .slider.slider-horizontal {
    width: 100%!important;
}

.donate-page .slider-container .tooltip{
   display: none;
}

.donate-page .btn-grouping .btn-default {
    background-color: transparent;
    color: #969696!important;
    border: 1px solid #969696!important;
}

.donate-page .btn-grouping .btn-default.active {
    background-color: transparent;
    color: #fff!important;
    border: 1px solid #fff!important;
}

.donate-page h5 span {
    color: #fff;
    font-size: 1.2em;
}


/* Footer Bar (Projects + Donate) */

.footer-bar {
    position: fixed;
    bottom: 0;
    border-top: none;
    width: 100%;
}

.footer-bar .btn-group {
    margin: 0;
    width: 100%;
}

.footer-bar .btn-group .button:first-child, .footer-bar .btn-group .button:last-child {
    border-radius: 0;
}

.footer-bar .btn-group a {
    background: #8548be;
    height: 44px;
    line-height: 34px;
    text-transform: uppercase;
    font-size: 1.5em;
}

.footer-bar .btn-group a.alt-button {
    background: #020102;
}

.footer-bar .btn-group .btn {
    border: none;
    border-radius: 0;
    width: 50%;
}

.footer-bar .btn-group .btn-full {
    width: 100%;
}

/* Profile Page */

.profile-page  .profile-top {
    background:#191A1A;
    border: none;
}

.profile-page .profile-top .panel-body {
    background: url('../images/profile-bg.jpg') no-repeat center top;
    background-position: center center;
    background-attachment: relative;
    

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.profile-page .profile-top .panel-footer {
    border: none;
}

.profile-page .list-group {
    float: left;
    width: 100%;
    background: #161616;
}

.profile-page .list-group a.list-group-item.immunity {
    width: 100px;
    height: 50px;
    float: left;
}

.profile-page .list-group a.list-group-item.watsi {
    width: 100px;
    height: 50px;
    float: left;
}

.profile-page .list-group a.list-group-item .details {
    padding-top: 0;
}

.profile-page .list-group a.list-group-item.project h2 {
    margin: 0;
    font-size: .5em;
}

.profile-page .list-group a.list-group-item.project p {
    margin: 3px 0 0 0;
    font-size: 0.8em;
    font-weight: 600;
    padding: 0;
}




